*{
  margin: 0xp;
  padding: 0px;
  box-sizing: border-box;
}
.parApp{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section{
  background-color: rgba(255, 255, 255, 0.079);
  height: 70px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-size: 50px;
}
::placeholder{
  color: black;
}
.inputValue{
  border: none;
  outline: none;
  padding: 20px;
  box-shadow: 1px 1px 4px inset;
  border-radius: 10px;
  text-align: center;
  width: 500px;
}